{% extends 'admin/template.html.twig' %}

{% block title %}Supprimer une caractéristique{% endblock %}
{% block titre %}Supprimer une caractéristique{% endblock %}

{% block body %}
    <div class="example-wrapper p-5">

        {# <form action="">
            <div class="row form-group">
                <label for="year" class="col-sm-6 col-form-label">Nom du type de la caractéristique : </label>
                <div class="col-sm-6">
                    <select type="text" class="form-control" id="optionTypeCaracteristiques" name="optionTypeCaracteristiques">
                        <option></option>
                        {% for gettypeCaracteristique in gettypeCaracteristiques %}
                            <option {{ (gettypeCaracteristique == searchTypeCaracteristiques ? 'selected')}}> {{gettypeCaracteristique}} </option>
                        {%endfor%}
                    </select>
                    <div class="pb-5">
                        <button class="btn btn-primary" type="submit" >Rechercher</button>
                    </div>
                </div>
            </div>
        </form> #}
        <form action="">
            <label for="searchTypeCaracteristiques">Rechercher une caractéristique
                <input type="search"  id="CaracteristiquesSearch" name="CaracteristiquesSearch">
            </label>
            <button type="submit">Envoyer</button>
        </form>
        <ul class="list-group ">
            {% for Caracteristique in Caracteristiques %}
                <li class="list-group-item list-group-item-action d-flex justify-content-between">{{Caracteristique.nom}}

                </li>
            {% endfor %}
        </ul>
    </div>
	<div class="col-12">
		{% if previous >= 0 %}
			<a href="{{ path('Caracteristiques', {offset: previous }) }}" class="btn btn-sm btn-primary">
				previous
			</a>
		{% endif %}

		{% if pageActuelle <= 3 %}
			{%if pageActuelle > 1 %}
				{% for i in 2..pageActuelle %}
					<a href="{{ path('Caracteristiques', {offset: previous - (offset * (pageActuelle - i))}) }}" class="btn btn-sm btn-primary m-3">{{ i - 1 }}</a>
				{% endfor %}
			{% endif %}
		{% else %}
			{% for i in pageActuelle-2..pageActuelle %}
				<a href="{{ path('Caracteristiques', {offset: previous - (offset * (pageActuelle - i))}) }}" class="btn btn-sm btn-primary m-3">{{ i - 1 }}</a>
			{% endfor %}
		{% endif %}


	<span class="btn btn-sm btn-primary m-3 bg-warning"> {{ pageActuelle }}</span>


	{% if difPages < 3 %}
	 	{% if  difPages > 0 %}
			{% for i in 1..difPages %}
		 		<a href="{{ path('Caracteristiques', {offset: next + (offset * (i - 1))}) }}" class="btn btn-sm btn-primary m-3">{{ pageActuelle + i }}</a>
			{% endfor %}
		{% endif %}
	{% else %}
		{% for i in 1..3 %}
		 	<a href="{{ path('Caracteristiques', {offset: next + (offset * (i - 1))}) }}" class="btn btn-sm btn-primary m-3">{{ pageActuelle + i }}</a>
		{% endfor %}
	{% endif %}

		{% if next < Caracteristiques|length %}
			<a href="{{ path('Caracteristiques', {offset: next }) }}" class="btn btn-sm btn-primary">next
			</a>
		{% endif %}
	</div>
		<div>
        Il y a {{ Caracteristiques|length~' caracteristique'~( Caracteristiques|length > 1 ? 's' : '') }} et vous êtes sur la page {{ pageActuelle }}/{{nbrePages}}
        </div>
{% endblock %}
