{% extends 'admin/template.html.twig' %}

{% block title %}Modifier une caractéristique
{% endblock %}

{% block titre %}
	Modifier une caractéristique
{% endblock %}
{% block body %}
	<div class="example-wrapper p-5">
		<form action="">
			<label for="searchCaracteristiques">Rechercher une caractéristique
				<input type="search" id="CaracteristiquesSearch" name="CaracteristiquesSearch">
			</label>
			<button type="submit">Envoyer</button>
		</form>
		<ul class="list-group ">
			{% for Caracteristique in Caracteristiques %}
				<li class="list-group-item list-group-item-action d-flex justify-content-between">{{Caracteristique.nom}}
					<a href="{{ path('update_type_caracteristiques', {id: Caracteristique.id }) }}" class="btn btn-primary">Editer</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-12">
		{% if previous >= 0 %}
			<a href="{{ path('Caracteristiques', {offset: previous }) }}" class="btn btn-sm btn-primary">
				previous
			</a>
		{% endif %}

		{% if pageActuelle <= 3 %}
			{%if pageActuelle > 1 %}
				{% for i in 2..pageActuelle %}
					<a href="{{ path('Caracteristiques', {offset: previous - (offset * (pageActuelle - i))}) }}" class="btn btn-sm btn-primary m-3">{{ i - 1 }}</a>
				{% endfor %}
			{% endif %}
		{% else %}
			{% for i in pageActuelle-2..pageActuelle %}
				<a href="{{ path('Caracteristiques', {offset: previous - (offset * (pageActuelle - i))}) }}" class="btn btn-sm btn-primary m-3">{{ i - 1 }}</a>
			{% endfor %}
		{% endif %}


	<span class="btn btn-sm btn-primary m-3 bg-warning"> {{ pageActuelle }}</span>


	{% if difPages < 3 %}
	 	{% if  difPages > 0 %}
			{% for i in 1..difPages %}
		 		<a href="{{ path('Caracteristiques', {offset: next + (offset * (i - 1))}) }}" class="btn btn-sm btn-primary m-3">{{ pageActuelle + i }}</a>
			{% endfor %}
		{% endif %}
	{% else %}
		{% for i in 1..3 %}
		 	<a href="{{ path('Caracteristiques', {offset: next + (offset * (i - 1))}) }}" class="btn btn-sm btn-primary m-3">{{ pageActuelle + i }}</a>
		{% endfor %}
	{% endif %}

		{% if next < Caracteristiques|length %}
			<a href="{{ path('Caracteristiques', {offset: next }) }}" class="btn btn-sm btn-primary">next
			</a>
		{% endif %}
	</div>
		<div>
        Il y a {{ Caracteristiques|length~' type de caracteristique'~( Caracteristiques|length > 1 ? 's' : '') }} et vous êtes sur la page {{ pageActuelle }}/{{nbrePages}}
        </div>
{% endblock %}
