{% extends 'admin/template.html.twig' %}

{% block title %}Modifier une catégorie
{% endblock %}

{% block titre %}
	Modifier une catégorie
{% endblock %}
{% block body %}
	<div class="example-wrapper p-5">
		<form action="">
			<label for="search">Rechercher une catégorie
				<input type="search" id="search" name="search">
			</label>
			<button type="submit">Envoyer</button>
		<ul class="list-group ">
			{% for categorie in listCategories %}
				<li class="list-group-item list-group-item-action d-flex justify-content-between">{{categorie.nom}}
					<div>
						<a href="{{ path('update_categorie', {id: categorie.id }) }}" class="m-2 btn btn-primary">Editer</a>
						<a href="{{ path('delete_categories', {id: categorie.id }) }}" class="btn btn-danger m-2" onclick="return confirm('Voulez-vous supprimer ?');">Supprimer</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="col-12">
		{% if previous >= 0 %}
			<a href="{{ path('categories_update_list', {offset: previous }) }}" class="btn btn-sm btn-primary">
				previous
			</a>
		{% endif %}

		{% if pageActuelle <= 3 %}
			{%if pageActuelle > 1 %}
				{% for i in 2..pageActuelle %}
					<a href="{{ path('categories_update_list', {offset: previous - (offset * (pageActuelle - i))}) }}" class="btn btn-sm btn-primary m-3">{{ i - 1 }}</a>
				{% endfor %}
			{% endif %}
		{% else %}
			{% for i in pageActuelle-2..pageActuelle %}
				<a href="{{ path('categories_update_list', {offset: previous - (offset * (pageActuelle - i))}) }}" class="btn btn-sm btn-primary m-3">{{ i - 1 }}</a>
			{% endfor %}
		{% endif %}


		<span class="btn btn-sm btn-primary m-3 bg-warning">
			{{ pageActuelle }}</span>


		{% if difPages < 3 %}
			{% if  difPages > 0 %}
				{% for i in 1..difPages %}
					<a href="{{ path('categories_update_list', {offset: next + (offset * (i - 1))}) }}" class="btn btn-sm btn-primary m-3">{{ pageActuelle + i }}</a>
				{% endfor %}
			{% endif %}
		{% else %}
			{% for i in 1..3 %}
				<a href="{{ path('categories_update_list', {offset: next + (offset * (i - 1))}) }}" class="btn btn-sm btn-primary m-3">{{ pageActuelle + i }}</a>
			{% endfor %}
		{% endif %}

		{% if next < listCategories|length %}
			<a href="{{ path('categories_update_list', {offset: next }) }}" class="btn btn-sm btn-primary">next
			</a>
		{% endif %}
	</div>
	<div>
		Il y a
		{{ listCategories|length~' catégories'~( listCategories|length > 1 ? 's' : '') }}
		et vous êtes sur la page
		{{ pageActuelle }}/{{nbrePages}}
	</div>
{% endblock %}
