{% extends 'admin/template.html.twig' %}

{% block title %}
	Administration des commandes
{% endblock %}

{% block titre %}
	Administration des commandes
{% endblock %}

{% block body %}
	{# {{ dump(clients) }} #}
	{# {{ dump(contenus) }} #}
	<div class="example-wrapper p-5">

		<form action="">
			<label for="search">Rechercher une commande
				<input type="search" id="search" name="search">
			</label>
			<button type="submit">Envoyer</button>
		</form>
		<form action="">
			<div class="row form-group">
				<div class="row w-100">

					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<label for="id_search" class="col-sm-6 col-form-label text-center">ID</label>
						<input type="checkbox" name="id_search" id="id_search" {% if app.request.query.get("id_search") %} checked {% endif %}>
					</div>
					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<label for="nom_search" class="col-sm-6 col-form-label text-center">Nom</label>
						<input type="checkbox" name="nom_search" id="nom_search " {% if app.request.query.get("nom_search") %} checked {% endif %}>
					</div>
					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<label for="montant_search" class="col-sm-6 col-form-label align-items-center text-center">Montant</label>
						<input type="checkbox" name="montant_search" id="montant_search" {% if app.request.query.get("montant_search") %} checked {% endif %}>
					</div>
					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<label for="date_search" class="col-sm-6 col-form-label align-items-center text-center">Date</label>
						<input type="checkbox" name="date_search" id="date_search" {% if app.request.query.get("date_search") %} checked {% endif %}>
					</div>

					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<input type="submit" value="Trier" class="btn btn-primary">
					</div>

				</div>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Numéro</th>
					<th scope="col">Nom client</th>
					<th scope="col">Montant</th>
					<th scope="col">Date de commande</th>
					<th scope="col">Consulter</th>
				</tr>
			</thead>
			<tbody>
				{% for commande in commandes %}
					<tr scope="row">
						<td>{{commande.id}}</td>
						<td>{{commande.client.nom}}</td>
						<td>montant commande</td>
						<td>{{commande.date|date("m/d/Y/ H:i")}}</td>
						<td>
							<a href="{{ path('app_admin_commande_view', {id: commande.id }) }}" class="btn btn-primary">Consulter</a>
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
