{% extends 'admin/template.html.twig' %}

{% block title %}
	Administration des commandes
{% endblock %}

{% block titre %}
	Administration des commandes
{% endblock %}

{% block body %}
	{# {{ dump(clients) }} #}
	{# {{ dump(contenus) }} #}
	<div class="example-wrapper p-5">

		<form action="">
			<label for="search">Rechercher une commande selon le nom du client
				<input type="search" id="search" name="search">
			</label>
			<button type="submit">Envoyer</button>
		</form>
		<form action="">
			<div class="row form-group">
				<div class="row w-100">

					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<label for="id_search" class="col-sm-6 col-form-label text-center">ID</label>
						<input type="checkbox" name="id_search" id="id_search" {% if app.request.query.get("id_search") %} checked {% endif %}>
					</div>
					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<label for="nom_search" class="col-sm-6 col-form-label text-center">Nom</label>
						<input type="checkbox" name="nom_search" id="nom_search " {% if app.request.query.get("nom_search") %} checked {% endif %}>
					</div>
					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<label for="montant_search" class="col-sm-6 col-form-label align-items-center text-center">Montant</label>
						<input type="checkbox" name="montant_search" id="montant_search" {% if app.request.query.get("montant_search") %} checked {% endif %}>
					</div>
					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<label for="date_search" class="col-sm-6 col-form-label align-items-center text-center">Date</label>
						<input type="checkbox" name="date_search" id="date_search" {% if app.request.query.get("date_search") %} checked {% endif %}>
					</div>

					<div class='col-md-2 d-flex flex-column justify-content-center align-items-center flex-wrap'>
						<input type="submit" value="Trier" class="btn btn-primary">
					</div>

				</div>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Numéro</th>
					<th scope="col">Nom client</th>
					<th scope="col">Montant</th>
					<th scope="col">Date de commande</th>
					<th scope="col">Consulter</th>
				</tr>
			</thead>
			<tbody>
				{% for commande in commandes %}
					<tr scope="row">
						<td>{{commande.id}}</td>
						<td>{{commande.client.nom}}</td>
						<td>{{commande.montant}} €</td>
						<td>{{commande.createdAt|date("d-m-Y H:i")}}</td>
						<td>
							<a href="{{ path('app_admin_commande_view', {id: commande.id }) }}" class="btn btn-primary">Consulter</a>
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div class="col-12">
		{% if previous >= 0 %}
			<a href="{{ path('app_admin_commande', {offset: previous ,id_search: app.request.query.get("id_search"), nom_search: app.request.query.get("nom_search"), montant_search: app.request.query.get("montant_search"), date_search: app.request.query.get("date_search") }) }}" class="btn btn-sm btn-primary">
				previous
			</a>
		{% endif %}

		{% if pageActuelle <= 3 %}
			{%if pageActuelle > 1 %}
				{% for i in 2..pageActuelle %}
					<a href="{{ path('app_admin_commande', {offset: previous - (offset * (pageActuelle - i)) ,id_search: app.request.query.get("id_search"), nom_search: app.request.query.get("nom_search"), montant_search: app.request.query.get("montant_search"), date_search: app.request.query.get("date_search")}) }}" class="btn btn-sm btn-primary m-3">{{ i - 1 }}</a>
				{% endfor %}
			{% endif %}
		{% else %}
			{% for i in pageActuelle-2..pageActuelle %}
				<a href="{{ path('app_admin_commande', {offset: previous - (offset * (pageActuelle - i)) ,id_search: app.request.query.get("id_search"), nom_search: app.request.query.get("nom_search"), montant_search: app.request.query.get("montant_search"), date_search: app.request.query.get("date_search")}) }}" class="btn btn-sm btn-primary m-3">{{ i - 1 }}</a>
			{% endfor %}
		{% endif %}


		<span class="btn btn-sm btn-primary m-3 bg-warning">
			{{ pageActuelle }}</span>


		{% if difPages < 3 %}
			{% if  difPages > 0 %}
				{% for i in 1..difPages %}
					<a href="{{ path('app_admin_commande', {offset: next + (offset * (i - 1)) ,id_search: app.request.query.get("id_search"), nom_search: app.request.query.get("nom_search"), montant_search: app.request.query.get("montant_search"), date_search: app.request.query.get("date_search")}) }}" class="btn btn-sm btn-primary m-3">{{ pageActuelle + i }}</a>
				{% endfor %}
			{% endif %}
		{% else %}
			{% for i in 1..3 %}
				<a href="{{ path('app_admin_commande', {offset: next + (offset * (i - 1)) ,id_search: app.request.query.get("id_search"), nom_search: app.request.query.get("nom_search"), montant_search: app.request.query.get("montant_search"), date_search: app.request.query.get("date_search")}) }}" class="btn btn-sm btn-primary m-3">{{ pageActuelle + i }}</a>
			{% endfor %}
		{% endif %}

		{% if next < commandes|length %}
			<a href="{{ path('app_admin_commande', {offset: next ,id_search: app.request.query.get("id_search"), nom_search: app.request.query.get("nom_search"), montant_search: app.request.query.get("montant_search"), date_search: app.request.query.get("date_search")}) }}" class="btn btn-sm btn-primary">next
			</a>
		{% endif %}
	</div>
	<div>
		Il y a
		{{ commandes|length~' commande'~( commandes|length > 1 ? 's' : '') }}
		et vous êtes sur la page
		{{ pageActuelle }}/{{nbrePages}}
	</div>
{% endblock %}
