<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{% block metaDescription %} {% endblock %}">
		<meta name="author" content="">

		<title>
			{% block title %}title du template
			{% endblock %}
		</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		<link rel="shortcut icon" href="{{asset('assets/favicon.ico')}}" type="image/x-icon">
		<link href='{{ asset('css/sb-admin-2.min.css') }}' rel="stylesheet">
		<link rel="stylesheet" href="{{asset('css/style_back.css')}}">

	</head>

	<body
		id="page-top">

		<!-- Page Wrapper -->

		<div
			id="wrapper">

			<!-- Sidebar -->
			<ul
				class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<div class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
					<div class="sidebar-brand-icon">
						<img src="{{ asset('assets/logo_cerf.png')}}" alt="logo cerfunos" width='50'>
					</div>
					<div class="sidebar-brand-text mx-3">Cerfunos Admin</div>
				</div>

				<!-- Divider -->
				<hr
				class="sidebar-divider my-0">

				<!-- Nav Item - Dashboard -->
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_admin')}}">
						<i class="fas fa-fw fa-tachometer-alt"></i>
						<span>Dashboard</span>
					</a>
				</li>

				<!-- Divider -->
				<hr
				class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">
					Administration
				</div>

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
						<i class="fa-solid fa-book-open"></i>
						<span>Produits</span>
					</a>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="{{ path('admin_produit_add')}}">Ajouter</a>
							<a class="collapse-item" href="{{ path('admin_produit_updateListe')}}">Consulter / Editer</a>
							<a class="collapse-item" href="{{ path('app_add_group_produits')}}">Créer un groupement <br> de produits</a>
							<a class="collapse-item" href="{{ path('app_admin_commentaires')}}">gestion des commentaires</a>
						</div>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCat" aria-expanded="true" aria-controls="collapseUtilities">
						<i class="fa-solid fa-angle-right"></i>
						<span>Catégories</span>
					</a>
					<div id="collapseCat" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="{{ path('app_admin_categories_add')}}">Ajouter</a>
							<a class="collapse-item" href="{{ path('categories_update_list')}}">Consulter / Editer</a>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
						<i class="fa-solid fa-filter"></i>
						<span>Type de caracteristiques</span>
					</a>
					<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="{{ path('app_admin_type_caracteristiques') }}">Ajouter</a>
							<a class="collapse-item" href="{{ path('TypeCaracteristiques') }}">Consulter / Editer</a>
						</div>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCarac" aria-expanded="true" aria-controls="collapseUtilities">
						<i class="fa-solid fa-circle-plus"></i>
						<span>Caracteristiques</span>
					</a>
					<div id="collapseCarac" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="{{ path('app_admin_caracteristiques') }}">Ajouter</a>
							<a class="collapse-item" href="{{ path('Caracteristiques') }}">Consulter / Editer</a>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCom" aria-expanded="true" aria-controls="collapseUtilities">
						<i class="fa-solid fa-truck"></i>
						<span>Commandes</span>
					</a>
					<div id="collapseCom" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="{{path('app_admin_commande')}}">Consulter</a>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseUtilities">
						<i class="fa-solid fa-truck-front"></i>
						<span>Fournisseur</span>
					</a>
					<div id="collapseFour" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<a class="collapse-item" href="{{ path('app_admin_fournisseurs')}}">Ajouter / Editer</a>
						</div>
					</div>
				</li>


				<!-- Divider -->
				<hr
				class="sidebar-divider d-none d-md-block">

				<!-- Sidebar Toggler (Sidebar) -->
				<div class="text-center d-none d-md-inline">
					<button class="rounded-circle border-0" id="sidebarToggle"></button>
				</div>

			</ul>
			<!-- End of Sidebar -->

			<!-- Content Wrapper -->
			<div
				id="content-wrapper" class="d-flex flex-column">

				<!-- Main Content -->
				<div
					id="content">

					<!-- Topbar -->
					<nav
						class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Topbar Search -->


						<!-- Topbar Navbar -->
						<ul
							class="navbar-nav ml-auto">

							<!-- Nav Item - Search Dropdown (Visible Only XS) -->
							<li class="nav-item dropdown no-arrow d-sm-none">
								<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-search fa-fw"></i>
								</a>
								<!-- Dropdown - Messages -->
								<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
									<form class="form-inline mr-auto w-100 navbar-search">
										<div class="input-group">
											<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button">
													<i class="fas fa-search fa-sm"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</li>

							<!-- Nav Item - Alerts -->
							<li class="nav-item dropdown no-arrow mx-1">
								<a class="nav-link dropdown-toggle" href="{{path('app_accueil')}}">Retourner au site</a>
							</li>


							<div class="topbar-divider d-none d-sm-block"></div>

							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="mr-2 d-none d-lg-inline text-gray-600 small">
										{{app.user.pseudo}} </span>
								</a>
								<!-- Dropdown - User Information -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Deconnexion
									</a>
								</div>
							</li>

						</ul>

					</nav>
					<!-- End of Topbar -->

					<!-- Begin Page Content -->
					<main
						class="container-fluid">
						<!-- Page Heading -->
						<h1 class="h3 mb-4 text-gray-800">
							{% block titre %}
								Page template
							{% endblock %}
						</h1>

						<div class="container-fluid">
							{% for message in app.session.flashBag.get('info')%}
								<div class='alert alert-success'>
									{{ message }}
								</div>
							{% endfor %}
							{% for message in app.session.flashBag.get('error')%}
								<div class='alert alert-danger'>
									{{ message }}
								</div>
							{% endfor %}
							{% block body %}
								le contenu du body
							{% endblock %}
						</div>

					</main>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white"> {% block footer %}{% endblock %}
					</footer>
					<!-- End of Footer -->

				</div>
				<!-- End of Content Wrapper -->

			</div>
			<!-- End of Page Wrapper -->

			<!-- Scroll to Top Button-->
			<a class="scroll-to-top rounded" href="#page-top">
				<i class="fas fa-angle-up"></i>
			</a>

			<!-- Logout Modal-->
			<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							Voulez-vous vraiment vous deconnecter ?</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
							<a class="btn btn-primary" href="{{ path('app_logout')}}">Se deconnecter</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Bootstrap core JavaScript-->
			<script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
			<script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

			<!-- Core plugin JavaScript-->
			<script src="{{asset('vendor/jquery-easing/jquery.easing.min.js')}}"></script>

			<!-- Custom scripts for all pages-->
			<script src="{{asset('js/sb-admin-2.min.js')}}"></script>

		</body>

	</html>
