{% extends 'front/template_page.html.twig' %}


{% block title %}Cerfunos | Connexion{% endblock %}
{% block titre %}Connexion{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <!-- Section: Design Block -->
    <section class="text-center text-lg-start">
        <style>
            .cascading-right {
                margin-right: -50px;
            }
            .cascading-right:hover{
                transform: none;
            }

            @media (max-width: 991.98px) {
                .cascading-right {
                    margin-right: 0;
                }
            }
        </style>

        <!-- Jumbotron -->
        <div id="connexion" class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                        <div class="card-body p-5 shadow-5 text-center">
                            <h2 class="fw-bold mb-5">Connectez-vous</h2>
                            <form method="post">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
{#                                <div class="row">#}
{#                                    <div class="col-md-6 mb-4">#}
{#                                        <div class="form-outline">#}
{#                                            <input type="text" id="form3Example2" class="form-control" />#}
{#                                            <label class="form-label" for="form3Example2">Last name</label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3">Nom d'utilisateur</label>
                                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4">Mot de passe</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                </div>

{#                                <!-- Checkbox -->#}
{#                                <div class="form-check d-flex justify-content-center mb-4">#}
{#                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />#}
{#                                    <label class="form-check-label" for="form2Example33">#}
{#                                        Subscribe to our newsletter#}
{#                                    </label>#}
{#                                </div>#}

                                <!-- Submit button -->
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                                <button type="submit" class="border-orange bg-dark m-3 text-decoration-none text-white p-2">Soumettre</button>

{#                                <!-- Register buttons -->#}
{#                                <div class="text-center">#}
{#                                    <p>or sign up with:</p>#}
{#                                    <button type="button" class="btn btn-link btn-floating mx-1">#}
{#                                        <i class="bi bi-facebook"></i>#}
{#                                    </button>#}

{#                                    <button type="button" class="btn btn-link btn-floating mx-1">#}
{#                                        <i class="fab fa-google"></i>#}
{#                                    </button>#}

{#                                    <button type="button" class="btn btn-link btn-floating mx-1">#}
{#                                        <i class="fab fa-twitter"></i>#}
{#                                    </button>#}

{#                                    <button type="button" class="btn btn-link btn-floating mx-1">#}
{#                                        <i class="fab fa-github"></i>#}
{#                                    </button>#}
{#                                </div>#}
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="https://picsum.photos/500/600?random=1" class="w-100 rounded-4 shadow-4" alt="Image aléatoire" />
                </div>
            </div>
        </div>
    </section>
{% endblock %}
