{% extends "front/template_page.html.twig" %}

{% block title %}Cerfunos | Votre Panier
{% endblock %}
{% block titre %}Panier
{% endblock %}


{% block content %}

	<div class="mt-5">
		{% for ligne in panier %}
			<form action="" method='get' class="p-1 ">
				<div class="card mb-3 text-white bg-dark">
					<div class="card-body ">
						<div class="d-flex justify-content-between">
							<a href='{{path('app_categories_produits', {id: ligne.produit.getId})}}' class="d-flex flex-row align-items-center text-decoration-none text-white">
								<div>
									<img src="{{ dir ~ ligne.produit.getImage}}" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
								</div>
								<div class="ms-3">
									<h5>
										{{ligne.produit.getNom }}
									</h5>
									<p>
										{{ligne.produit.getPrix}}
										€ l'unité</p>
									<input type='submit' style='height:54px !important;' value='Modifier la ligne' class=' me-2 border-orange bg-dark text-white text-decoration-none align-middle'>

								</div>
							</a>
							<div class="d-flex flex-row align-items-center">
								<div style="width: 150px;">
									<div style="width: 50px;">
										<input type="hidden" name="id" value="{{ligne.produit.getId}}">
										<input type="number" name='quantite' value='{{ligne.quantite}}' style='width:50px;'>
									</div>
									<h5 class="mb-0">
										{{ligne.produit.getPrix *  ligne.quantite}}
										€</h5>
								</div>
								<a href="{{path('app_panier_remove', {id: ligne.produit.getId})}}" style="color: #cecece;">
									<i class="fas fa-trash-alt" style="color: #f2a950"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</form>


		{% endfor %}
	</div>
		{% if app.session.get('panier') %}
	<div class="d-flex justify-content-end align-items-center py-5">
	
				<h5 class="mb-0 text-white me-2">
					Total TTC :
					{{total}}
					€</h5>
	
			{% if app.user %}
			{% if app.user.client %}
				
				<a href='{{path('app_passer_commande', {id: app.user.id})}}' style='padding:12px !important;' class=' border-orange  h-75 bg-dark text-white text-decoration-none align-middle'>
					Commander</a>
			{% endif %}
			{% else %}
				
				<p class=' mt-3 p-5 text-white'>Veuillez vous connecter pour finaliser votre commande</p>
	</div>
			{% endif %}
		{% else %}
			<p class='text-white text-center'>Votre panier est vide.</p>
		{% endif %}
{% endblock %}
