{% extends "front/template_page.html.twig" %}
{% block title %}Cerfunos | Mes commandes{% endblock %}
{% block titre %}Commande{% endblock %}
{% block content %}
    <div class="py-5">
    {% for  commande in commandes %}
        <div class="card text-center bg-secondary mt-5" style="transform: none">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills justify-content-center">
                <li class="text-white px-5">
                    <p class="fs-5"> <strong>Commande effectuée le</strong>  </p>
                    <p>{{commande.createdAt|date("d/m/Y à H\\:i\\:s\\s")}}</p>
                </li>
                <li class="text-white px-5">
                    <p class="fs-5"> <strong>Total TTC</strong>  </p>
                    <p>{{commande.Montant}}</p>
                </li>
                <li class="text-white px-5">
                    <p class="fs-5"> <strong>Nom et prénom</strong> </p>
                    <p > {{client.0.nom}} {{client.0.prenom}}</p>
                </li>
                <li class="text-white px-5">
                    <p class="fs-5"> <strong>N° de commande</strong> </p>
                    <p > {{commande.id}} </p>
                </li>

            </ul>
        </div>
        <div class="card-body">
            <a id="btn-commande" href="{{path('app_commande_view',{id:commande.id})}}" class="btn-primary btn">Voir le détail</a>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
